/author.rb
/base.rb
/branch.rb
/branches.rb
/config.rb
/diff.rb
/index.rb
/lib.rb
/log.rb
/object.rb
/path.rb
/remote.rb
/repository.rb
/stash.rb
/stashes.rb
/status.rb
/version.rb
/working_directory.rb
